19127083_19127294_19127363.json
[{"id":"1246e4ef.04c1eb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e7ba8987.95b008","type":"ui_toast","z":"1246e4ef.04c1eb","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":690,"y":680,"wires":[]},{"id":"dcd65e02.685ff8","type":"ui_chart","z":"1246e4ef.04c1eb","name":"Temperature","group":"1b0bd71a.139611","order":1,"width":0,"height":0,"label":"Biểu đồ nhiệt độ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1070,"y":160,"wires":[[]]},{"id":"97f73d7f.136548","type":"switch","z":"1246e4ef.04c1eb","name":"Gợi ý tưới cây","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"str"},{"t":"gt","v":"30","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":880,"y":260,"wires":[["b9f28f9a.03eb88"],["b3da3f72.347d"]]},{"id":"b9f28f9a.03eb88","type":"change","z":"1246e4ef.04c1eb","name":"Nên tưới","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":240,"wires":[["80d109b9.259c1"]]},{"id":"abd1e601.547d18","type":"ui_gauge","z":"1246e4ef.04c1eb","name":"","group":"a084050c.e05ba","order":2,"width":0,"height":0,"gtype":"gage","title":"Nhiệt độ hiện tại","label":"units","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":220,"wires":[]},{"id":"5c0299c0.b1f798","type":"complete","z":"1246e4ef.04c1eb","name":"","scope":["84778121.5a5408"],"uncaught":false,"x":70,"y":140,"wires":[["629b0cae.da44fc"]]},{"id":"b1b9b8ff.3aa0e8","type":"http request","z":"1246e4ef.04c1eb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1460609/fields/1.json?api_key=DQMK7T4KE1A4NMG4&results=20","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":200,"wires":[["b36fa6f0.88f49"]]},{"id":"b36fa6f0.88f49","type":"json","z":"1246e4ef.04c1eb","name":"","property":"payload","action":"","pretty":false,"x":530,"y":200,"wires":[["83becbf4.b3bfe","d81e74fd.c83bd8"]]},{"id":"83becbf4.b3bfe","type":"function","z":"1246e4ef.04c1eb","name":"toArray","func":"var temps = [];\n\nfor(var i = 0; i < 20; i++)\n{\n    temps[i] = ({\"x\" : msg.payload.feeds[i].created_at,\n                 \"y\" : msg.payload.feeds[i].field1});\n}\n\nvar obj = [{\n    \"series\" : [\"temperature\"],\n    \"data\": [temps]}];\n\nmsg.data = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":160,"wires":[["5a8b0478.93daac"]]},{"id":"5a8b0478.93daac","type":"change","z":"1246e4ef.04c1eb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":160,"wires":[["dcd65e02.685ff8"]]},{"id":"d81e74fd.c83bd8","type":"function","z":"1246e4ef.04c1eb","name":"getNewValue","func":"msg.payload = msg.payload.feeds[19].field1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":240,"wires":[["abd1e601.547d18","97f73d7f.136548"]]},{"id":"5b3baf49.9567","type":"ui_chart","z":"1246e4ef.04c1eb","name":"Humid","group":"1b0bd71a.139611","order":1,"width":0,"height":0,"label":"Biểu đồ độ ẩm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":400,"wires":[[]]},{"id":"91858039.2170d","type":"switch","z":"1246e4ef.04c1eb","name":"Gợi ý tưới cây","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"60","vt":"str"},{"t":"gt","v":"60","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":880,"y":500,"wires":[["92d29d91.b56ff"],["ae67dd81.74919"]]},{"id":"92d29d91.b56ff","type":"change","z":"1246e4ef.04c1eb","name":"Nên tưới","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":460,"wires":[["80d109b9.259c1"]]},{"id":"ba736b44.efff","type":"ui_text","z":"1246e4ef.04c1eb","group":"dbc32cb3.929758","order":1,"width":0,"height":0,"name":"Gợi ý","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":380,"wires":[]},{"id":"8012774f.d22998","type":"ui_gauge","z":"1246e4ef.04c1eb","name":"","group":"a084050c.e05ba","order":2,"width":0,"height":0,"gtype":"wave","title":"độ ẩm hiện tại","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":460,"wires":[]},{"id":"255c3ca3.cd512c","type":"complete","z":"1246e4ef.04c1eb","name":"","scope":["84778121.5a5408"],"uncaught":false,"x":70,"y":500,"wires":[["8dc1cbfd.13024"]]},{"id":"3adcbf97.e346a8","type":"http request","z":"1246e4ef.04c1eb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1460609/fields/2.json?api_key=DQMK7T4KE1A4NMG4&results=20","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":440,"wires":[["68ff4f6b.62bd38"]]},{"id":"68ff4f6b.62bd38","type":"json","z":"1246e4ef.04c1eb","name":"","property":"payload","action":"","pretty":false,"x":530,"y":440,"wires":[["f91667ba.9d155","7425f80e.20cd08"]]},{"id":"f91667ba.9d155","type":"function","z":"1246e4ef.04c1eb","name":"toArray","func":"var temps = [];\n\nfor(var i = 0; i < 20; i++)\n{\n    temps[i] = ({\"x\" : msg.payload.feeds[i].created_at,\n                 \"y\" : msg.payload.feeds[i].field2});\n}\n\nvar obj = [{\n    \"series\" : [\"temperature\"],\n    \"data\": [temps]}];\n\nmsg.data = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":400,"wires":[["415676ac.44f0f"]]},{"id":"415676ac.44f0f","type":"change","z":"1246e4ef.04c1eb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":400,"wires":[["5b3baf49.9567"]]},{"id":"7425f80e.20cd08","type":"function","z":"1246e4ef.04c1eb","name":"getNewValue","func":"msg.payload = msg.payload.feeds[19].field2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":480,"wires":[["8012774f.d22998","91858039.2170d"]]},{"id":"7feb240a.c6ed54","type":"function","z":"1246e4ef.04c1eb","name":"","func":"\nvar temp = Number(msg.payload.temp);\nvar humid = Number(msg.payload.humid);\n\n\nvar x = \"https://api.thingspeak.com/update?api_key=KR3R0D61WEAQPZTC&field1=\" + temp + \"&field2=\" + humid;\nmsg.url = x;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":60,"wires":[["84778121.5a5408"]]},{"id":"84778121.5a5408","type":"http request","z":"1246e4ef.04c1eb","name":"send temp & humid to thingspeak","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":60,"wires":[[]]},{"id":"7637fcd.5a92e84","type":"json","z":"1246e4ef.04c1eb","name":"","property":"payload","action":"","pretty":false,"x":230,"y":60,"wires":[["7feb240a.c6ed54"]]},{"id":"150556a3.c7ba89","type":"mqtt in","z":"1246e4ef.04c1eb","name":"","topic":"/19clc8/ttd/tuoi","qos":"2","datatype":"auto","broker":"4a86a575.b5bd94","nl":false,"rap":true,"rh":0,"x":80,"y":60,"wires":[["7637fcd.5a92e84"]]},{"id":"b209be6f.c218f8","type":"mqtt in","z":"1246e4ef.04c1eb","name":"","topic":"/19clc8/ttd/thieves","qos":"0","datatype":"auto","broker":"4a86a575.b5bd94","nl":false,"rap":true,"rh":0,"x":110,"y":720,"wires":[["97aaa578.43ecd"]]},{"id":"97aaa578.43ecd","type":"switch","z":"1246e4ef.04c1eb","name":"Có người","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"check","vt":"flow"},{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":280,"y":720,"wires":[["13f89d14.072133"],["13f89d14.072133"],["3e8fadda.680e12"]]},{"id":"1b219ac5.8b7fbd","type":"ui_audio","z":"1246e4ef.04c1eb","name":"Thông báo","group":"dbc32cb3.929758","voice":"urn:moz-tts:sapi:Microsoft David Desktop - English (United States)?en-US","always":"","x":670,"y":780,"wires":[]},{"id":"3e8fadda.680e12","type":"change","z":"1246e4ef.04c1eb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Some one in garden","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":720,"wires":[["1b219ac5.8b7fbd","e7ba8987.95b008","c63a9ab2.db00c8"]]},{"id":"410cb14b.262d","type":"ui_switch","z":"1246e4ef.04c1eb","name":"","label":"Bật âm chống trộm","tooltip":"","group":"dbc32cb3.929758","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":110,"y":620,"wires":[["940553ea.1c247"]]},{"id":"940553ea.1c247","type":"function","z":"1246e4ef.04c1eb","name":"","func":"if(msg.payload == true){\n    flow.set(\"check\", \"true\");\n}\nelse{\n    flow.set(\"check\", \"false\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":620,"wires":[["e7c08a81.993ba","c3ab1bec.c5b5e8"]]},{"id":"e7c08a81.993ba","type":"mqtt out","z":"1246e4ef.04c1eb","name":"","topic":"/19clc8/ttd/thievesOff","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4a86a575.b5bd94","x":480,"y":620,"wires":[]},{"id":"1630fdfc.c8e802","type":"inject","z":"1246e4ef.04c1eb","name":"auto run","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":260,"wires":[["b1b9b8ff.3aa0e8"]]},{"id":"202b9f88.fbd97","type":"inject","z":"1246e4ef.04c1eb","name":"auto run","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["3adcbf97.e346a8"]]},{"id":"501e9101.f3914","type":"delay","z":"1246e4ef.04c1eb","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":820,"wires":[["f407e1a8.76acd"]]},{"id":"f6f43b8a.ce7218","type":"ui_switch","z":"1246e4ef.04c1eb","name":"Tưới cây?","label":"Tưới cây","tooltip":"","group":"dbc32cb3.929758","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":110,"y":940,"wires":[["26e42512.cb679a"]]},{"id":"26e42512.cb679a","type":"switch","z":"1246e4ef.04c1eb","name":"Lựa chọn","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":280,"y":940,"wires":[["35b5ae04.036132","501e9101.f3914"],["ee2c7d1c.52704"]]},{"id":"f407e1a8.76acd","type":"change","z":"1246e4ef.04c1eb","name":"Đổi không tưới","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":820,"wires":[["f6f43b8a.ce7218"]]},{"id":"35b5ae04.036132","type":"change","z":"1246e4ef.04c1eb","name":"Tưới cây","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tuoi cay","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":920,"wires":[["ffe46c8f.764e4"]]},{"id":"ee2c7d1c.52704","type":"change","z":"1246e4ef.04c1eb","name":"Không tưới cây","rules":[{"t":"set","p":"payload","pt":"msg","to":"Khong tuoi cay","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":960,"wires":[["ffe46c8f.764e4"]]},{"id":"b500d231.58db","type":"change","z":"1246e4ef.04c1eb","name":"Bật đèn","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bat den","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1040,"wires":[["ffe46c8f.764e4"]]},{"id":"1ac237be.50189","type":"change","z":"1246e4ef.04c1eb","name":"Tắt đèn","rules":[{"t":"set","p":"payload","pt":"msg","to":"tat den","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1080,"wires":[["ffe46c8f.764e4"]]},{"id":"7e16fdde.cc36b4","type":"switch","z":"1246e4ef.04c1eb","name":"Lựa chọn","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":280,"y":1060,"wires":[["b500d231.58db"],["1ac237be.50189"]]},{"id":"7fdb4d99.af621c","type":"ui_switch","z":"1246e4ef.04c1eb","name":"Bật đèn","label":"Bật đèn?","tooltip":"","group":"dbc32cb3.929758","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":100,"y":1060,"wires":[["7e16fdde.cc36b4"]]},{"id":"12efada4.ea7912","type":"ui_switch","z":"1246e4ef.04c1eb","name":"Tự động tưới","label":"Tự động tưới?","tooltip":"","group":"dbc32cb3.929758","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":110,"y":1180,"wires":[["600bbf2e.ae9308"]]},{"id":"600bbf2e.ae9308","type":"switch","z":"1246e4ef.04c1eb","name":"Lựa chọn","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":1180,"wires":[["3c3a9e6c.04e6da"],["7559d13a.f51d18"]]},{"id":"3c3a9e6c.04e6da","type":"change","z":"1246e4ef.04c1eb","name":"Tự động tưới","rules":[{"t":"set","p":"payload","pt":"msg","to":"tu dong tuoi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1160,"wires":[["ffe46c8f.764e4"]]},{"id":"7559d13a.f51d18","type":"change","z":"1246e4ef.04c1eb","name":"Tắt tự động tưới","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tat tu dong tuoi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1200,"wires":[["ffe46c8f.764e4"]]},{"id":"ffe46c8f.764e4","type":"mqtt out","z":"1246e4ef.04c1eb","name":"","topic":"/19clc8/ttd/thongtin","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4a86a575.b5bd94","x":750,"y":960,"wires":[]},{"id":"4dddb3b7.7add64","type":"function","z":"1246e4ef.04c1eb","name":"","func":"\nif(msg.payload[0] == true && msg.payload[1] == true){\n    msg.payload = 'Thời tiết tốt. Nên tưới cây.';\n    return msg;\n}\nelse{\n    msg.payload = 'Thời tiết chưa tốt. Không nên tưới.';\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":380,"wires":[["ba736b44.efff"]]},{"id":"83546a4d.084d9","type":"ui_text","z":"1246e4ef.04c1eb","group":"dbc32cb3.929758","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":660,"wires":[]},{"id":"c63a9ab2.db00c8","type":"change","z":"1246e4ef.04c1eb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Có bạn ghé chơi kìa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":720,"wires":[["83546a4d.084d9"]]},{"id":"13f89d14.072133","type":"change","z":"1246e4ef.04c1eb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hệ thống hiện tại an toàn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":660,"wires":[["83546a4d.084d9"]]},{"id":"c3ab1bec.c5b5e8","type":"switch","z":"1246e4ef.04c1eb","name":"","property":"check","propertyType":"flow","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":660,"wires":[["13f89d14.072133"]]},{"id":"80d109b9.259c1","type":"join","z":"1246e4ef.04c1eb","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":380,"wires":[["4dddb3b7.7add64"]]},{"id":"b3da3f72.347d","type":"change","z":"1246e4ef.04c1eb","name":"Không","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":280,"wires":[["80d109b9.259c1"]]},{"id":"ae67dd81.74919","type":"change","z":"1246e4ef.04c1eb","name":"Không","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":540,"wires":[["80d109b9.259c1"]]},{"id":"629b0cae.da44fc","type":"delay","z":"1246e4ef.04c1eb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":140,"wires":[["b1b9b8ff.3aa0e8"]]},{"id":"8dc1cbfd.13024","type":"delay","z":"1246e4ef.04c1eb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":500,"wires":[["3adcbf97.e346a8"]]},{"id":"7703d71b.89935","type":"inject","z":"1246e4ef.04c1eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":580,"wires":[["410cb14b.262d"]]},{"id":"1b0bd71a.139611","type":"ui_group","name":"Chart","tab":"36746fc3.5602d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a084050c.e05ba","type":"ui_group","name":"Display","tab":"36746fc3.5602d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"dbc32cb3.929758","type":"ui_group","name":"Control","tab":"36746fc3.5602d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4a86a575.b5bd94","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"36746fc3.5602d8","type":"ui_tab","name":"App","icon":"dashboard","order":2,"disabled":false,"hidden":false}]